@import './reset.css';
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root{
    --container-width:1200px;
    --container-padding:15px;
}

body{
    font-family: 'Poppins', sans-serif;
    color: #0F1F1C;
    background-color: #E5E5E5;
}


.container{
    width: var(--container-width);
    padding: var(--container-padding);
    margin: 0 auto;
}

.container-left{
    padding-left: calc((100% - var(--container-width)) / 2 + var(--container-padding));
}

.header{
    position: relative;
    min-height: 940px;
    background: linear-gradient(132.05deg, #428E5F -17.38%, #112120 78.4%), #204434;;
}

.header::after{
    content: '';
position: absolute;
width: 100%;
height: 96px;
bottom: 0;
left: 0;
background-image: url(../img/header/Vector\ 6.svg);
background-size: 100%;
}

/* header top */
.nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-logo a{
    font-weight: 700;
    font-size: 20px;
    color: white;
}

.nav-list{
display: flex;
gap: 80px;
}

.nav-link{
    color: white;
font-size: 15px;
font-weight: 500;
}

button{
    background: linear-gradient(129.54deg, #FF7B4E 15.57%, #FF584E 95.03%), #FFFFFF;
}

.login-signup{
    font-weight: 500;
    font-size: 15px;
    color: white;
}

.login-login{
    margin-left: 25px;
    font-size: 15px;
    color: white;
    padding: 13px 44px;
    border-radius:100px ;
}

.header-content{
    margin-top: 95px;
}

.header-content-box{
    width: 227px;
    height: 50px;
background: rgba(255, 255, 255, 0.25);
border-radius: 15px;
padding: 12px 30px;
margin-bottom: 7px;
color: white;
}

.header-content-title{
    width: 592px;
    font-size: 55px;
    font-weight: 400;
    color: white;
}

.header-content-txt{
    font-weight: 700;
font-size: 25px;
line-height: 38px;
width: 519px;
opacity: 0.5;
color: white;
margin-top: 30px;
}

.header-content-btn{
    border-radius: 27px;
    margin-top: 68px;
    font-weight: 600;
    font-size: 25px;
    color: white;
    padding: 26px 47px;
}
